PORT=3000
MONGODB_URI=mongodb://localhost:27017/taskmanager
MONGODB_DB=taskmanager
JWT_SECRET=secret_key_placeholder
NODE_ENV=development
 

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email@gmail.com
#làm local mỗi người tự tạo nameapp gửi otp cho tiện
SMTP_PASS=pass_of_app
SMTP_SECURE=false
FROM_EMAIL="TaskFlow <email@gmail.com>"